<div class="card text-center mb-3 my-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.name %></h5>
    <p class="card-text">Address: <%= restaurant.address %></p>
    <p class="card-text">Cuisine: <%= restaurant.cuisine.capitalize %></p>
  </div>
</div>
